# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\huji\c_cpp\ex2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
